/*########## Fonts ###########*/

@font-face {
    font-family: 'Mondwest';
    src: url('../assets/font/Mondwest-Regular.ttf') format('truetype')
}

/*######## Título ###########*/

h1{
    font-family: Mondwest;
    text-align: center;
}

h1.title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fc00de;
}

/*######### párrafo ############*/

.p{
    font-family: 'DM sans';
    color: #A66CFF;
}


/*######### Texto inputs  ############*/

h3.input {
    font-size: 1.7em;
    font-weight: 600;
    color: #fc00de;
    font-family: 'DM sans';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.163);
}

/*######### Texto interno  inputs ###########*/
#nombre{

    font-family: 'VT323';
    font-size: 1.5em;
    color: #9C9EFE;
   
}

#email{

    font-family: 'VT323';
    font-size: 1.5em;
    color: #9C9EFE;
}

#telefono{

    font-family: 'VT323';
    font-size: 1.5em;
    color: #9C9EFE;
}

#mensaje{

    font-family: 'VT323';
    font-size: 1.5em;
    color: #9C9EFE;
    
}

/*##################### btn style ##################*/

.btn-enviar{

    display: inline-block;
    
    border-radius: 100px;
    background-color: #9C9EFE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'VT323';
    font-size: 2em;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}



.btn-enviar:hover{
    background-color: #A66CFF;
    padding-right: 25px;
    color: #B1E1FF;
}


/*##################### color body ##################*/
body{
    background-color:rgb(245, 235, 235);
}


