/*------------------Fonts------------------*/
@font-face {
    font-family: 'Mondwest';
    src: url('../assets/font/Mondwest-Regular.ttf') format('truetype')
}

h1{
    font-family: Mondwest;
    text-align: center;
}
h1.title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fc00de;
    
}
/* hr {
    height: 5px;
    background-color: rgb(25, 0, 255);
} */

body{
    background-color:rgb(245, 235, 235);
}


