/*------------------Fonts------------------*/
@font-face {
    font-family: 'Mondwest';
    src: url('../assets/font/Mondwest-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

/*------------------BODY------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.like {
  font-size: 1.5rem;
  color: #fc00de;
}

.btncart {
  /* font-size: 1.5rem; */
  background-color: #fc00de;
  border-color: #fc00de;
}

.card {
  background-color: #ffff;
  border-color:#B1E1FF;
  border-width: .07cm;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
}

.card-header {
  background-color: #ffff;
  border-color: #B1E1FF;
  border-width: .07cm;
}

.card-body {
  font-size: 1.2em;
}
.card-footer {

  border-color: #B1E1FF;
  border-width: .07cm;
  font-family: 'VT323';
  color: #A66CFF;
  font-size: 4em;
}


/*------------------TYPOGRAPHY------------*/

#title{
    font-family: 'VT323';
    text-align: center;
    color: #fc00de;
}

.card-title{
  font-family: 'DM Sans';
  color:#9C9EFE;
  font-weight: bold;

}

p{
  font-family: 'DM Sans';
  line-height : 1.4rem;
}



.mt-4{
  font-size: 0.7em;
}