/*------------------Fonts------------------*/
@font-face {
    font-family: 'Mondwest';
    src: url('../assets/font/Mondwest-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

/*------------------BODY------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.like {
  font-size: 1.5rem;
  color: #fc00de;
}

.btn {
  /* font-size: 1.5rem; */
  background-color: #fc00de;
  border-color: #fc00de;
}

.card {
  background-color: #ffff;
  border-color:#a66cff;
}

.card-header {
  background-color: #ffff;
  border-color: #a66cff;
}
.card-footer {

  border-color: #a66cff;
}


/*------------------TYPOGRAPHY------------*/

#title{
    font-family: Mondwest;
    text-align: center;
    color: #fc00de;
}

h4, p{
  font-family: 'DM Sans';
}

