h2{
    font-family: 'VT323';
    font-style: normal;
    font-size: 65px;
    font-weight: 400;
    font-display: swap;
}

@media(max-width:960px){

    h2{

        font-family: 'VT323';
        font-style: normal;
        font-size: 40px;
        font-weight: 400;
        font-display: swap;
    }
}

#button-login{
    font-family: 'VT323';
    font-size: 25px;
    background-color:rgb(166, 108, 225); 
    border-color:rgb(166, 108, 225) ;

}

.img-login{
    width: 15px;
    height: 1px;
}

#login{
    font-family: 'VT323';
    font-size: 25px;
}

#errorUser, #errorPass{
    font-size: large;
}

#user-login, #password-login{
    font-size: large;
}