/*------------------Fonts------------------*/
@font-face {
    font-family: 'Mondwest';
    src: url('../assets/font/Mondwest-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

/*------------------BODY------------------*/

/*------------------TYPOGRAPHY------------*/

#title{
    font-family: Mondwest;
    text-align: center;
}