/*NAVBAR SETTINGS*/
header{
    background-color: rgb(166, 108, 255);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
}

#geek{
    font-family: 'VT323';
    font-style: normal;
    font-size: 31px;
}

@media(max-width:992px){

    #geek{
    
        font-family: 'VT323';
        font-style: normal;
        font-size: 40px;
        
    }
}

#logo{
    width: 80px;
    height: 65px;
    border-radius: 100px;
    
}

.btn-search{
    color: white;
    background-color:rgb(252, 0, 222);
    border-color: rgb(166, 108, 255);
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 7px 0px;
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 1.42857;
    background-color: rgb(252, 0, 222);
    border-color: rgb(166, 108, 255);
    
}

/*------------------------------------*/
body{
    background-color:rgb(245, 235, 235);
    /*background: linear-gradient(to bottom,  #ffffff, #a66cff)*/
    
}
.bg{
    background-image: url(../assets/img/singin3.jpg);
    background-position: center center; 
    
}
h2{
    color: black;

   
}

#inputnombre2, #inputnum2, #inputmail2, #inputpass2{
    border-radius: 7px;
   /* background-color: #b1e1ff; */
   background-color:rgb(177, 225, 225)
}

#loginbtn2{
    /* border-radius: 25px 25px; */
/*     width: 150px;
    margin-left: 27%;
    background-color: rgb(166, 108, 225);
    border-color: rgb(166, 108, 225); */

    display: inline-block; 
    border-radius: 100px;
    background-color: #9C9EFE;
    border: none;
    color: rgb(245, 235, 235);
    text-align: center;
    font-family: 'VT323';
    font-size: 1.2em;
    padding: 3px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
label{
    font-weight: bold;
} 

/*##################### style enlaces##################*/ 

a {

    color: #fc00de;
    font-size: .7em;

}


a:hover {

   color: #9C9EFE;

}
