h2{
    font-family: 'VT323';
    /*font-style: normal;*/
    font-size: 60px; 
    color:#fc00de;
}

#nombreProducto{
    font-family: 'VT323';
    color: #A66CFF;
    font-size: 3em;
}

#cartidad{
    font-family: 'DM Sans';
}

#detallesp {
    font-family: 'DM Sans';
    color: #A66CFF;
}

#MainImg{
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10%);
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.sproduct select{
    /* display: block; */
    padding: 5px 10px;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.buy-btn{
    background-color: #A66CFF;
    border-color: white;
    color: white;
    padding: 5px 10px;
    border-radius: 100px;
    opacity: 0.5;
    transition:0.3s all ;
}
.buy-btn:hover{
    background-color: #9C9EFE;
    border-radius: 100px;
    transition:0.3s all ; 
}

.rating{
    color: #fc00de;
    font-weight: bold;
}

.select{
    border-radius: 4px;
}

.price{
    font-family: 'DM Sans';
    font-size: 2em;
}


